@use '../../../../styles/_globals.scss' as *;

:host {
  display: block;
  text-align: left;
  // min-height: 50px;
  list-style: none;
  // add a little padding to top and bottom, to make drag dropping easier
  padding: 5px 0;
  margin: 0;
  position: relative;
}

.done-task-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-tasks {
  @include center;
  text-align: center;
  width: 90%;

  color: var(--text-color-muted);
}

.expand-tasks-btn {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
