@if (isHideDone() || isHideAll()) {
  <div
    @expandFadeFast
    class="done-task-box"
  >
    <button
      (click)="expandDoneTasks()"
      class="expand-tasks-btn"
      mat-button
    >
      <!--TODO translate -->
      <em
        >+ {{ isHideDone() ? doneTasksLength() + ' done ' : allTasksLength() }} sub
        tasks</em
      >
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
}

<tree-dnd
  [nodes]="treeNodes()"
  [canDrop]="canDropTask"
  [useExternalDropListGroup]="true"
  [dropListRegistration]="dropListRegistrationConfig"
  (moved)="onTreeMoved($event, treeNodes())"
  class="task-list-inner"
  [attr.data-id]="listModelId()"
>
  <ng-template
    #treeFolder
    let-node
  >
    <task
      [task]="node.data"
      [isInSubTaskList]="false"
      [isBacklog]="isBacklog()"
    ></task>
  </ng-template>

  <ng-template
    #treeItem
    let-node
  >
    <task
      [task]="node.data"
      [isInSubTaskList]="!!node.data?.parentId"
      [isBacklog]="isBacklog()"
    ></task>
  </ng-template>
</tree-dnd>

@if (noTasksMsg() && !allTasksLength()) {
  <div class="no-tasks">{{ noTasksMsg() }}</div>
}
